html {
	color: #fff;
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0 auto;
	max-width: 1120px;
	background-image: linear-gradient(109.6deg, rgb(0, 0, 0) 41.2%, rgb(49, 55, 56) 81.1%);
	color: #ffffff;
	background-size: 120% 120%;
	overflow-x: hidden;
}

#particles-js {
	position: absolute;
	top: 150px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}

.cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 15px;
	border-bottom: 1px solid #435ed8;
}

.cabecalho .logo {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: 2px solid #fffdfd;
	text-decoration: underline;
	text-align: center;
	line-height: 55px;
	font-family: "Raleway", sans-serif;
	transition: 0.2s;
}

.cabecalho a:hover .logo {
	color: #435ed8;
	border: 2px solid #435ed8;
}

.cabecalho .menu li {
	display: inline-block;
	/* ou display: inline; */
}

.cabecalho .menu li a {
	color: #fff;
	font-size: 20px;
	text-transform: capitalize;
	padding: 10px 20px;
	transition: 0.2s;
}

.btn {
	font-size: 17px;
	background: transparent;
	border: none;
	padding: 1em 1.5em;
	color: #ffedd3;
	text-transform: uppercase;
	position: relative;
	transition: 0.5s ease;
	cursor: pointer;
}

.btn::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 0;
	background-color: #435ed8;
	transition: 0.5s ease;
}

.btn:hover {
	color: #ffffff;
	transition-delay: 0.5s;
}

.btn:hover::before {
	width: 100%;
}

.btn::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
	background-color: #435ed8;
	transition: 0.4s ease;
	z-index: -1;
}

.btn:hover::after {
	height: 100%;
	transition-delay: 0.4s;
	color: rgb(252, 253, 255);
}

.home {
	font-size: 20px;
	display: flex;
	min-height: calc(100vh - 125px);
	align-items: center;
	gap: 50px;
	justify-content: space-between;
	border-bottom: 1px solid #435ed8;
	margin-top: 20px;
}

.home .informacoes {
	display: flex;
	flex-direction: column;
	gap: 15px;
	letter-spacing: 2px;
	padding: 0 15px;
	max-width: 50%;
}

.home .informacoes h1 {
	font-family: "Raleway", sans-serif;
	font-size: 45px;
	margin-bottom: 20px;
}

.home .informacoes p {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	margin-bottom: 20px;
}

.home .redes-sociais {
	display: flex;
	gap: 20px;
}

.home .informacoes span {
	color: #435ed8;
	font-family: "Raleway", sans-serif;
}

.home .redes-sociais a i {
	border: 1px solid #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 10px;
	text-align: center;
	font-size: 26px;
	transition: 0.3s;
	margin-bottom: 20px;
}

.home .redes-sociais a i:hover {
	color: #435ed8;
	border: 1px solid #435ed8;
	transform: scale(1.1);
}

.home .container-foto .foto {
	max-width: 450px;
	border-radius: 50%;
}

.home .container-foto img {
	width: 100%;
	border-radius: 50%;
}

.home .foto.sombra-interna {
	background-size: 180% 180%;
	animation: gradient-animation 5s ease infinite;
}

.Histórico .titulos .t {
	font-family: "Raleway", sans-serif;
	font-size: 45px;
	margin-bottom: 20px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Histórico .titulos #t2{
	font-family: "Raleway", sans-serif;
	font-size: 27px;
	margin-bottom: 20px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 30px;
}

.Histórico .titulos .t span {
	color: #435ed8;
	margin-left: 5px;
}

.Histórico .informacoes {
	background-color: #fff;
	border: 6px solid #007bff;
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 20px;
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		border-color: #6c6ae7;
	}

	50% {
		border-color: #0000b3;
		/* cor da borda mais escura */
	}

	100% {
		border-color: #007bff;
	}
}

.Histórico .informacoes .HIS h1 {
	color: #ffffff;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 60px;
	padding: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	box-shadow: 0 0 0 0 transparent;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.Histórico .informacoes .HIS h1:hover {
	color: #ffffff;
	background-color: #0915ba;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 60px;
	padding: 10px;
	margin-bottom: 20px;
	background: rgb(21, 60, 203);
	box-shadow: 0 0 30px 5px rgba(35, 0, 236, 0.815);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.Histórico .informacoes .HIS h1:hover::before {
	-webkit-animation: sh02 0.5s 0s linear;
	-moz-animation: sh02 0.5s 0s linear;
	animation: sh02 0.5s 0s linear;
}

.Histórico .informacoes .HIS h1::before {
	content: '';
	display: block;
	width: 0px;
	height: 10%;
	position: absolute;
	top: 7%;
	left: 0%;
	opacity: 0;
	background: #fff;
	box-shadow: 0 0 50px 30px #fff;
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	-o-transform: skewX(-20deg);
	transform: skewX(-20deg);
}

@keyframes sh02 {
	from {
		opacity: 0;
		left: 0%;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
		left: 100%;
	}
}

.Histórico .informacoes .HIS a {
	font-family: "Raleway", sans-serif;
	color: #000;
	font-style: inherit;
	font-weight: bold;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.Histórico .informacoes .HIS .Certificados {
	color: #000;
	font-family: "Raleway", sans-serif;
	font-size: 45px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Histórico .informacoes .HIS .certi_btn{
	display: flex;
	justify-content: center;
	align-items: center;
}

.Histórico .informacoes .HIS button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #183153;
	font-family: "Montserrat", sans-serif;
	box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	cursor: pointer;
	border: none;
	bottom:75px;
  }
  
  .Histórico .informacoes .HIS button:after {
	content: " ";
	width: 0%;
	height: 100%;
	background: #1201ff;
	position: absolute;
	transition: all 0.4s ease-in-out;
	right: 0;
  }
  
  .Histórico .informacoes .HIS button:hover::after {
	right: auto;
	left: 0;
	width: 100%;
  }
  
  .Histórico .informacoes .HIS button span {
	text-align: center;
	text-decoration: none;
	width: 100%;
	padding: 18px 25px;
	color: #fff;
	font-size: 1.125em;
	font-weight: 700;
	letter-spacing: 0.3em;
	z-index: 20;
	transition: all 0.3s ease-in-out;
  }
  
  .Histórico .informacoes .HIS button:hover span {
	color: #f7f7f7;
	animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
	0% {
	  transform: scale(1);
	}
  
	50% {
	  transform: scale(0.95);
	}
  
	100% {
	  transform: scale(1);
	}
  }
  

.Histórico .informacoes .HIS p {
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: bold;
	margin-left: 60px;
	color: #000000;
}

.skills {
	font-size: 20px;
	display: flex;
	min-height: calc(100vh - 125px);
	align-items: center;
	gap: 50px;
	justify-content: space-between;
	border-bottom: 1px solid #435ed8;
	text-align: left;
}

.skills .informacoes h2 {
	font-family: "Raleway", sans-serif;
	font-size: 45px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skills .informacoes p {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	margin-bottom: 20px;
}

.skills .informacoes span {
	color: #435ed8;
}

.skills .informacoes h3 {
	font-family: "Raleway", sans-serif;
	font-size: 35px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}



.skills .info .lin img {
	width: 130px;
	height: 100px;
	color: #fff;
	text-transform: capitalize;
	margin-left: 20px;
	padding: 10px 20px;
	transition: 0.2s;
}

.skills .info .lin img:hover {
	transform: scale(1.2);
}

.projetos {
	padding: 70px 0 70px;
	border-bottom: 1px solid #435ed8;
}

.projetos .titulo span {
	color: #435ed8;
}

.projetos .titulo {
	text-align: center;
	padding: 60px 0;
	font-size: 45px;
	font-weight: 500;
	text-transform: uppercase;
}

.projetos .container-projetos {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	margin-bottom: 20px;
	justify-content: center;
}

.projetos .projeto {
	max-width: 260px;
	max-height: 500px;
	position: relative;
	display: none;
}

.projetos .projeto.ativo {
	display: block;
}

.projetos .projeto img {
	height: 100%;
}

.projetos .projeto h3 {
	background-color: #040203;
	width: 100%;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: absolute;
	bottom: 0;
}


.projetos .projeto .informacoes-projeto {
	background-color: #040203;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	font-weight: 600;
	opacity: 0;
	transition: 0.3s;
	padding: 20px;
}

.projetos .container-projetos .projeto:hover .informacoes-projeto {
	opacity: 0.7;
	background-color: #000;
}

.projetos .btn-mostrar-projetos {
	background: none;
	border: 1px solid #fff;
	border-radius: 30px;
	color: #fff;
	width: 180px;
	padding: 20px;
	font-size: 18px;
	font-weight: 600;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.projetos .btn-mostrar-projetos:hover {
	background-color: #435ed8;
	transition: 0.3s;
}

.projetos .btn-mostrar-projetos.remover {
	display: none;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.MAIS {
	background: #282936;
	padding: 10px 2rem;
	outline: 2.5px solid #2503ab;
	margin-left: 500px;
	outline-offset: 3px;
	border: 0;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	border-radius: 150rem;
	transition: 0.4s;
	font-weight: 600;
}

.MAIS:hover {
	outline-offset: 4.5px;
	background: #062ca8;
	font-size: 1.1rem;
}

.fade-in {
	opacity: 0;
	transition: opacity 4s ease;
}

.aparecer {
	opacity: 1;
}


/* carrosel */

.carrossel {
	height: 600px;
	margin: 0;
	display: grid;
	grid-template-rows: 500px 100px;
	grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
	align-items: center;
	justify-items: center;
	margin-right: 150px;
}

#carousel {
	grid-row: 1 / 2;
	grid-column: 1 / 8;
	width: 98vw;
	height: 480px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transform-style: preserve-3d;
	perspective: 400px;
	--items: 5;
	--middle: 3;
	--position: 1;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.carrossel input {
	display: flex;
	align-items: center;
	justify-items: center;
	position: relative;
	bottom: 80px;
	margin-right: 200px;
}

div.item {
	position: absolute;
	width: 350px;
	height: 260px;
	background-color: coral;
	--r: calc(var(--position) - var(--offset));
	--abs: max(calc(var(--r) * -1), var(--r));
	transition: all 0.25s linear;
	transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
	z-index: calc((var(--position) - var(--abs)));
	margin-right: 550px;
	border: 4px solid black;
}
div.item:nth-of-type(1) {
	--offset: 1;
	background-color: #90f1ef;
}

div.item:nth-of-type(2) {
	--offset: 2;
	background-color: #ff70a6;
}

div.item:nth-of-type(3) {
	--offset: 3;
	background-color: #ff9770;
}

div.item:nth-of-type(4) {
	--offset: 4;
	background-color: #ffd670;
}

div.item:nth-of-type(5) {
	--offset: 5;
	background-color: #e9ff70;
}

input:nth-of-type(1) {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

input:nth-of-type(1):checked~main#carousel {
	--position: 1;
}

input:nth-of-type(2) {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

input:nth-of-type(2):checked~main#carousel {
	--position: 2;
}

input:nth-of-type(3) {
	grid-column: 4 /5;
	grid-row: 2 / 3;
}

input:nth-of-type(3):checked~main#carousel {
	--position: 3;
}

input:nth-of-type(4) {
	grid-column: 5 / 6;
	grid-row: 2 / 3;
}

input:nth-of-type(4):checked~main#carousel {
	--position: 4;
}

input:nth-of-type(5) {
	grid-column: 6 / 7;
	grid-row: 2 / 3;
}

input:nth-of-type(5):checked~main#carousel {
	--position: 5;
}
